<%= simple_form_for(assessment, html: {class: 'form-horizontal left' }, wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } ) do |f| %>
  <% if assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :individual_id, :value => @individual.id %>
    <%= f.input :date_collected, :label => "Date collected" %>
    <div class="well">
      <h3>Self-Sufficiency Assessment</h3>
        <div class="btn-group" data-toggle="buttons-checkbox">
           <a class="btn collapse-data-btn" data-toggle="collapse" href="#misc">Follow-up</a>          
        </div>
        <div id="misc" class="well">
          <%= f.input :still_resident_of_neighborhood_years, :label=>"How many years have you been a resident of your neighborhood?" %>
          <%= f.input :still_resident_of_neighborhood_months, :label=>"...and how many months (past the years in the previous field) have you been a resident of your neighborhood?" %>

          <%= f.input :self_sufficency_goal,
               :label => "What is your major goal for becoming self-sufficient?",
               :collection => {"Employment"=>0, "Education"=>1, "Other"=>2},
                  :label_method => :first,
                  :value_mathod => :last %>
          <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_self_sufficency_goal', 'option-value': '2'} do %>            
          <%= f.input :self_sufficiency_goal_other, 
                    :label => "Please describe your goal for becoming self-sufficient:"%>
          <% end %> 
          <%= f.input :filed_1040_in_last_year,
               :label => "Did you file 1040 tax return for last calendar year?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
          <%= f.input :last_calendar_years_income, :label => "Last calendar year's adjusted gross income (from 1040 tax return)?" %>
          <%= f.input :currently_receive_earned_income_tax_credit,
               :label => "Do you currently receive earned income tax credit?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
          <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_receive_earned_income_tax_credit', 'option-value': '1'} do %>            
          <%= f.input :earned_income_tax_credit_amount, :label => "Amount?"%>
          <% end %>  
          <%= f.input :currently_registered_to_vote,
               :label => "Are you currently registered to vote?",
               :collection => {"Yes"=>1, "No"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>
          <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_registered_to_vote', 'option-value': '1'} do %>            
            <%= f.input :voter, :label => "Do you vote?",
               :collection => {"Yes"=>"yes", "No"=>"no"},
                  :label_method => :first,
                  :value_mathod => :last %>
          <% end %>

 <div class="well">
      <h3>Have you ever been told by a medical clinician that you have...</h3>
      <%= f.input :medical_high_blood_sugar,
               :label => "...high blood sugar?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :medical_diabetes,
               :label => "..diabetes?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_medical_diabetes', 'option-value': 'true'} do %>            
         <%= f.input :medical_diabetes_type,
               :label => "Which type?",
               :collection => {"Type 1"=>"type 1", "Type 2"=>"type 2", "Gestational"=>"gestational"},
                  :label_method => :first,
                  :value_mathod => :last %>

       <% end %>
       <%= f.input :medical_pulmonary_disease,
               :label => "...pulmonary disease (COPD/asthma)?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
       <%= f.input :medical_elevated_blood_pressure,
               :label => "..elevated blood pressure?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      
      <%= f.input :medical_mental_health_diagnosis,
               :label => "...mental health diagnosis?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :medical_tobacco_products,
               :label => "Do you use tobacco products?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :medical_alcohol,
               :label => "Do you drink alcohol?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_medical_alcohol', 'option-value': 'true'} do %>            
         <%= f.input :medical_alcohol_avg_drinks_per_week, input_html: {value: '', step:'1'}, label: "On average, how many drinks do you consume per week?"%>
      <% end %>
</div>


      <%= f.input :medical_height, label: "Height (in inches, i.e. 60 inches is 5 feet):"%>
      <%= f.input :medical_weight, label: "Weight (lb):"%>
      
      <%= f.input :primary_care_physician_primary,
               :label => "Do you have a primary care physician?",
               :collection => {"Yes"=>1, "No"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>

      <%= f.input :primary_care_physician_children,
               :label => "Do your children have a primary care physician?",
               :collection => {"Yes"=>1, "No"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>

      <%= f.input :medical_treatment_location,
                   :label => "Where do you seek medical treatment?",
                   :collection => {"ER"=>0,"Urgent Care"=>1, "Primary Care"=>2, "Free Clinics"=>3},
                      :label_method => :first,
                      :value_mathod => :last %>
        <%= f.input :current_health,
                   :label => "How would you describe your current health?",
                   :collection => {"Excellent"=>4,"Very Good"=>3, "Good"=>2, "Fair"=>1, "Poor"=>0},
                      :label_method => :first,
                      :value_mathod => :last %>
        <%= f.input :happiness_level,
                   :label => "How happy are you?",
                   :collection => {"Very Happy"=>4,"Happy"=>3, "Neutral"=>2, "Unhappy"=>1, "Very unhappy"=>0},
                      :label_method => :first,
                      :value_mathod => :last %>
      
        <!-- %= f.input :household_member_in_jail,
               :label => "Is a household member currently in jail?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last % -->
          <%= f.input :household_member_in_jail_current_criminal_resoution_need,
               :label => "Any current need for legal resolution?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        

         
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-housing">Housing</a>
        </div>
        <div id="ss-assessment-housing" class="well">
           <%= f.input :ssa_family_best_description_current_situation_housing,
               :label => "Please select which of the following best describes your family's current situation:",
               :collection => {"Family is currently homeless (i.e. homeless shelter, on the streets, in vehicle, or are staying with friends."=>1,
                               "Family is in transitional housing (i.e. temporary housing, hotel, motel, short term lease (less than six months) or current residence is in need of major repairs"=>2, 
                               "Family is currently living in permanent housing; but marginally adequate, or is subsidized"=>3,
                               "Family is currently living in permanent adequate housing but the cost exceeds 30% of family income, or is subsidized."=>4,
                               "Family is currently living in permanent unsubsidized housing"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-transportation">Transportation</a>
        </div>
        <div id="ss-assessment-transportation" class="well">
            <%= f.input :ssa_family_best_description_current_situation_transportation,
               :label => "Please help me select which of the following best describes your family's current situation:",
               :collection => {"No transportation"=>1,
                               "No transportation; but are able to borrow car, access public transportation but have limited resources for fare, no license"=>2, 
                               "Have a vehicle but needs major repairs, not licensed, etc."=>3,
                               "Own vehicle but needs minor repairs, limited resources for gas"=>4,
                               "Own vehicle and does not need repair and has resources for gas"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            
            
            <!--  %= f.input :family_best_description_current_situation_food,
               :label => "**Food: Please help me select which of the following best describes your family's current situation:",
               :collection => {"Family has no food and reports they are hungry"=>1,
                               "Family has no way to cook or refridgerate food and eats most meals at soup kitchens, free community meals, or with friends and relatives."=>2, 
                               "Family has adequate food for less than one week available"=>3,
                               "Family has more than one week's food available and has access to supplemental food resources"=>4,
                               "Family obtains adequate meals without the use of supplemental resources"=>5},
                  :label_method => :first,
                  :value_mathod => :last % -->
        </div>


        <!-- div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-employment">Employment</a>
        </div>
        <div id="ss-assessment-employment" class="well">
          <%= f.input :ssa_primary_adult_enrolled_best_description_employment,
               :label => "Please select which of the following best describes your situation:",
               :collection => {"Unemployed or never worked"=>1,
                               "Unemployed for less than 3 months."=>2, 
                               "Part-time employment"=>3,
                               "Full-time employment without benefits"=>4,
                               "Full-time employment with a living wage and benefits"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div -->


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-education">Educational / Academic Attainment</a>
        </div>
        <div id="ss-assessment-education" class="well">
          <%= f.input :ssa_primary_adult_enrolled_best_description_academic,
               :label => "Select which of the following best describes the situation for the primary adult enrolled in the program:",
               :collection => {"Lack of academic skills is currently a barrier to employment or other goal attainment. Literacy problems; or less than high school"=>1,
                               "Lack of academic skills severely limits employment or other goal attainment.  Able to read with pictures and perform basic addition and/or subtraction. High school diploma (or equivalent, HISET/GED)"=>2, 
                               "Lack of academic skills limits employment or other goal attainment.  Able to read and complete basic job applications and can perform basic calculations. Attended, but did not complete college or technical training"=>3,
                               "Academic skills occasionally limit employment or other goal attainment.  Can read and perform math calculations at a high school level. Associate's degree or Completed Technical Training (CNA, cosmetology, auto mechanic, etc)"=>4,
                               "Academic skills are not a barrier to employment or other goal attainment. Completed degree program"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_ssa_primary_adult_enrolled_best_description_academic', 'option-value': '1'} do %> 
               <%= f.label "Last grade completed." %>
               <%= f.text_field :ssa_highest_grade_completed, :class => "form-control" %>        
            <% end %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_ssa_primary_adult_enrolled_best_description_academic', 'option-value': '4'} do %> 
               <%= f.label "Title of Technical/Professional/Vocational Training." %>
               <%= f.text_field :ssa_title_of_training, :class => "form-control" %>        
            <% end %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_ssa_primary_adult_enrolled_best_description_academic', 'option-value': '5'} do %> 
               <%= f.label "Title of Bachelor's or Master's Degree." %>
               <%= f.text_field :ssa_title_of_degree, :class => "form-control" %>        
            <% end %>
        </div>
        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-income">Income / Budget</a>
        </div>
        <div id="ss-assessment-income" class="well">
          <%= f.input :ssa_family_best_description_current_situation_income,
               :label => "Please select which of the following best describes your families current situation:",
               :collection => {"No regular or consistent income"=>1,
                               "Income does not meet basic needs."=>2, 
                               "Income meets basic needs but is insufficient for emergencies"=>3,
                               "Income meets basic needs and allows for minor emergencies"=>4,
                               "Income meets basic needs, emergencies, and allows for extras and savings"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-insurance">Health Insurance</a>
        </div>
        <div id="ss-assessment-insurance" class="well">
          <%= f.input :ssa_health_insurance,
               :label => "Select which of the following best describes your family's current situation:",
               :collection => {"No health insurance for any family member"=>1, 
                               "Not all family members are insured"=>2,
                               "All family members are covered by government insurance"=>3,
                               "All family members are insured, but the premiums and/or co-pays are unaffordable"=>4,
                               "All family members are covered by insurance and the premiums and co-pays are affordable"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_health_insurance', 'option-value': '2|3|4|5'} do %> 
            <%= f.label "If yes, list insurance type:" %>
            <%= f.text_field :ssa_health_insurance_type, :class => "form-control" %>        

            <% end %>
            </div>
        

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-physical">Physical Health</a>
        </div>
        <div id="ss-assessment-physical" class="well">
          <%= f.input :ssa_medical_physical_family_member_impact,
               :label => "Please select which of the following best describes your family's current situation:",
               :collection => {"A family member's health problems prohibit employment.  Or, family member is in need of 24 hour care."=>1, 
                               "A family member's health problem regularly interferes with employment or other goal options"=>2,
                               "A family member's health problems occasionally interferes with employment or other goal options"=>3,
                               "A family member's physical health problem does not interfere with employment or other goal options"=>4,
                               "There are no physical health problems for any family member at this time"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-mental">Mental Health / Substance Abuse</a>
        </div>
        <div id="ss-assessment-mental" class="well">
          <%= f.input :ssa_family_best_description_current_situation_mental_health,
               :label => "Please select which of the following best describes your family's current situation:",
               :collection => {"A family member's mental health and/or substance abuse prohibit employment or other goal atttainment"=>1,
                               "A family member's mental health and/or substance abuse regularly interferes with employment/other goals"=>2, 
                               "A family member's mental health and/or substance abuse occasionally interfere with employment/other goals"=>3,
                               "A family member's mental health and/or substance abuse does not interfere with employment/other goals"=>4,
                               "There are no mental health or substance abuse problems for any family member at this time"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-psychosocial">Psychosocial & Environmental Stressors</a>
        </div>
        <div id="ss-assessment-psychosocial" class="well">
           <%= f.input :ssa_primary_adult_enrolled_best_description_stressors,
               :label => "Please select which of the following describes the situation for the primary adult enrolled in the program:",
               :collection => {"Current stressors are so great that participant is unable to focus on employment or other goal attainment"=>1,
                               "Current stressors considerably affect participant's ability to focus on employment or other goal attainment"=>2, 
                               "Current stressors moderately affect participant's ability to focus on employment or other goal attainment"=>3,
                               "Current stressors only minimally affect participant's ability to focus on employment or other goal attainment"=>4,
                               "Stressors do not currently interfere with employment or other goal attainment"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-parenting">Parenting Skills</a>
        </div>
        <div id="ss-assessment-parenting" class="well">
           <%= f.input :ssa_primary_adult_enrolled_parenting,
               :label => "Please select which of the following describes your family's current situation:",
               :collection => {"Current known or suspected safety concerns regarding parenting skills"=>1,
                               "New to parenting or has limited parenting skills (unfamiliar with child development, unrealistic expectations, etc.)"=>2, 
                               "Parenting skills are apparent but not adequate, open to identify areas of weakness and growth"=>3,
                               "Parenting skills are adequate, but not confident in skills"=>4,
                               "Parenting skills are optimal, confident in knowledge and skills and completed parenting class within 3 years."=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-childcare">Quality Childcare</a>
        </div>
        <div id="ss-assessment-childcare" class="well">
           <%= f.input :ssa_quality_childcare, 
              :label => "Please select which of the following best describes your family's current situation:",
              :collection => {"Child care is needed for education or employment goal but is unavailable"=>1,
                              "Child care and subsidy are available but child care provider will not / cannot accept subsidy, or cost is unaffordable"=>2,
                              "Child care is available and affordable (may use subsidy) but of poor quality.  There is no emergency backup caregiver or plan"=>3,
                              "Child care is available, and affordable (may use subsidy), and good quality.  There is no emergency backup caregiver or plan"=>4,
                              "Child care is available, affordable, good quality and there is at least one emergency backup caregiver or plan and/or childcare is not needed."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-criminal">Legal (Criminal)</a>
        </div>
        <div id="ss-assessment-criminal" class="well">
           <%= f.input :ssa_criminal, 
              :label => "Please select which of the following best describes your current situation:",
              :collection => {"Current outstanding warrants or tickets; or has a felony conviction or arrest in the past year"=>1,
                              "Current charges / trial pending; noncompliance with probation / parole; has extensive criminal history (felony)."=>2,
                              "Currently on probation / parole and is fully compliant; or has a moderate criminal history"=>3,
                              "Completed probation / parole within the past 12 months, no new charges filed; or minor criminal charges."=>4,
                              "No criminal history."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-noncriminal">Legal (Non-criminal)</a>
        </div>
        <div id="ss-assessment-noncriminal" class="well">
          <%= f.input :ssa_legal_non_criminal, 
              :label => "Please select which of the following best describes your current situation:",
              :collection => {"Significant legal issues and is not addressing them or does not understand the problem involves legal issues."=>1,
                              "Identified legal issues but is unable to proceed without legal assistance."=>2,
                              "Responded to legal issues with appropriate legal assistance."=>3,
                              "Currently has legal representation and issues are moving towards resolution."=>4,
                              "No legal issues or issues have been fully resolved."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-support">Support System</a>
        </div>
        <div id="ss-assessment-support" class="well">
          <%= f.input :ssa_support_system, 
              :label => "Please select which of the following best describes your family's current situation:",
              :collection => {"No personal support systems and no knowledge of available community supports."=>1,
                              "No personal support, but knows where to go in the community for help when experiencing a need or crisis."=>2,
                              "1-3 personal supports and basic community networks are available in times of need."=>3,
                              "3-5 personal supports available and is connected with at least one community support (non-profit, church, etc.)."=>4,
                              "5+ personal supports available and is able to give support in return; active in community support networks."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-food">Food</a>
        </div>
        <div id="ss-assessment-food" class="well">
          <%= f.input :ssa_food, 
              :label => "Please select which of the following best describes your family's food situation:",
              :collection => {"No food, or means to prepare it. Rely primarily on sources of free or low-cost food."=>1,
                              "Household meeting most food needs with SNAP benefits."=>2,
                              "Can meet basic food needs, but require occasional assistance."=>3,
                              "Can meet basic food needs without assistance."=>4,
                              "Can choose to purchase any food household desires."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-home-safety">Home Safety</a>
        </div>
        <div id="ss-home-safety" class="well">
          <%= f.input :ssa_home_safety, 
              :label => "Please select which of the following best describes your family's home safety situation:",
              :collection => {"Home or residence is not safe; possible CPS involvement."=>1,
                              "Safety is threatened but there is temporary protection available."=>2,
                              "Current level of safety is minimally adequate."=>3,
                              "Enviornment is safe, however, future safety is uncertain."=>4,
                              "Environment is notably safe and stable."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-community-involvement">Community Involvement</a>
        </div>
        <div id="ss-community-involvement" class="well">
          <%= f.input :ssa_community_involvement, 
              :label => "Please select which of the following best describes your family's community involvement:",
              :collection => {"Not applicable due to difficult life situations, keeping family in 'survival' mode."=>1,
                              "Socially isolated and lacking confidence or desire to become more involved."=>2,
                              "Lack knowledge about how to be more involved in the community."=>3,
                              "Some community involvement (PTA, neighborhood association, support group, etc.) but dealing with barriers like transportation and childcare issues."=>4,
                              "Actively involved in community."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>

    </div>
    








     


<div class="btn-group" data-toggle="buttons-checkbox">
      <a class="btn collapse-data-btn" data-toggle="collapse" href="#employment-details">Employment</a>
</div>
 <div id="employment-details" class="well">
  <h3>Employment:</h3>
   <%= f.input :currently_employed,
               :label => "Are you currently employed?",
               :collection => {"Yes"=>0, "No"=>1, "Disabled"=>3, "Retired"=>4, "Temporary/Seasonal"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
   <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_employed', 'option-value': '0'} do %>            
        <%= f.input :employment_type, 
                    :label => "Full-Time or Part Time?",
                    :collection => {"Full-Time"=>0, "Part-Time"=>1},
                    :label_method => :first,
                    :value_method => :last %>
        <%= f.input :employer %>
        <%= f.input :position %>
        <%= f.input :hours_worked_per_week, :label => "Hours worked per week (Average number of hours per week for the last 30 days)" %>
        <%= f.input :monthly_wage, :label => "Total monthly family income - Earned income before taxes and withholdings?" %>
   <% end %>
   <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_employed', 'option-value': '1'} do %> 
   <%= f.input :if_unemployed_eligible_to_work,
               :label => "If you are not currently employed, are you eligible to work?",
               :collection => {"Yes"=>true, "No"=>false},
               :label_method => :first,
               :value_method => :last  %>
   <% end %> 

   <%= f.input :number_of_jobs_in_last_six_months, :label => "How many jobs have you had in the last six months?" %>
</div>
  

  <div class="well">
    <%= f.input :cocaine_crack_speed,
               :label => "Have you ever used cocaine, crack, or speed?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_cocaine_crack_speed', 'option-value': 'true'} do %>   
          <%= f.label "When was the last time you used?" %>
          <%= f.date_select :drug_date_of_last_use_ccs,
               :label => "When was the last time you used?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last,
                  :start_year => 1950, 
                  :end_year => Time.now.year %><p>
        <% end %>
    <%= f.input :meth,
               :label => "Have you ever used meth?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_meth', 'option-value': 'true'} do %>   
          <%= f.label "When was the last time you used?" %>
          <%= f.date_select :drug_date_of_last_use_meth,
               :label => "When was the last time you used?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last,
                  :start_year => 1950, 
                  :end_year => Time.now.year %><p>
        <% end %>
      <%= f.input :marijuana,
               :label => "Have you ever used marijuana?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_marijuana', 'option-value': 'true'} do %>   
          <%= f.label "When was the last time you used?" %>
          <%= f.date_select :drug_date_of_last_use_marijuana,
               :label => "When was the last time you used?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last,
                  :start_year => 1950, 
                  :end_year => Time.now.year %><p>
        <% end %>
        <%= f.input :heroin_opiates,
               :label => "Have you ever used Heroin/Opiates?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_heroin_opiates', 'option-value': 'true'} do %>   
          <%= f.label "When was the last time you used?" %>
          <%= f.date_select :drug_date_of_last_use_heroin,
               :label => "When was the last time you used?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last,
                  :start_year => 1950, 
                  :end_year => Time.now.year %><p>
        <% end %>
        <%= f.input :other_boolean,
               :label => "Have you ever used any other drug not listed previously?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_other_boolean', 'option-value': 'true'} do %>   
          <%= f.label "When was the last time you used?" %>
          <%= f.date_select :drug_date_of_last_use_other,
               :label => "When was the last time you used?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last,
                  :start_year => 1950, 
                  :end_year => Time.now.year %><p>
        <% end %>
  </div>


  <div class="well">
    <h3>Social Capital and Civic Engagement Questionnaire</h3>
     <%= f.input :written_plan_to_become_self_sufficient,
               :label => "As of today, I have a written plan for how I am going to reach my goals and become self-sufficient.",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= f.input :current_budget_and_savings_plan,
               :label => "As of today, I have a budget and savings plan to help build my assets.",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= f.input :safe_and_stable_place_to_live,
               :label => "As of today, I have a safe and stable place to live.",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= f.input :people_in_my_life_i_can_trust_for_support,
               :label => "Are there pople in your life whom you trust and can count on for emotional or moral support?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_people_in_my_life_i_can_trust_for_support', 'option-value': 'true'} do %>   
          <%= f.input :number_of_people_trusted_for_emotional_or_moral_support,
               :label => "How many?" %><p>
        <% end %>
     <%= f.input :people_in_my_life_serving_as_mentors,
               :label => "Are there pople in your life who have served as mentors or have guided you to resources such as job opportunities, clubs, and legal services?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_people_in_my_life_serving_as_mentors', 'option-value': 'true'} do %>   
     <%= f.input :number_of_people_trusted_for_mentorship,
               :label => "How many of these people do you currently know and can reach out to?" %><p>
     <% end %>
     <%= f.input :most_people_can_be_trusted,
               :label => "Generally speaking, would you say that most people can be trusted or that you need to be very careful in dealing with people",
               :collection => {"Most people can be trusted"=>1, "You can't be too careful"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>
  </div>
   <div class="well">
    <h2>I trust the following people:</h2>
     <%= f.input :i_trust_police_in_my_community,
               :label => "...police in your community",
               :collection => {"Strongly Agree"=>0, 
                               "Somewhat Agree"=>1,
                               "Neutral"=>2,
                               "Somewhat Disagree"=>3,
                               "Disagree"=>4},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :i_trust_local_govt,
               :label => "...local government",
               :collection => {"Strongly Agree"=>0, 
                               "Somewhat Agree"=>1,
                               "Neutral"=>2,
                               "Somewhat Disagree"=>3,
                               "Disagree"=>4},
                  :label_method => :first,
                  :value_mathod => :last %>
  </div>
  <div class="well">
    <h2>In the past 6 months, how many times have you...</h2>
      <%= f.input :last_six_months_worked_on_neighborhood_project, label: "Worked on a neighborhood project?"%>
      <%= f.input :last_six_months_worked_with_neighborhood_partners, label: "Worked with neighbord in your neighborhood to improve or fix something?"%>
      <%= f.input :last_six_months_volunteered, label: "Volunteered? (0 for no, if yes, average number of hours per month)"%>
      <%= f.input :last_six_months_attended_public_meetings_for_neighborhood, label: "Attended any public meeting in which there was a discussion of your neighborhood concerns and/or development"%>
      <%= f.input :last_six_months_attended_public_meetings_for_schools, label: "Attended a public meeting in which there was a discussion about schools or education"%>
      <%= f.input :last_six_months_attended_politial_rally, label: "Attended a political meeting or rally?"%>
      <%= f.input :last_six_months_had_friends_in_home, label: "Had friends over to your home?"%>
      <%= f.input :last_six_months_been_at_friends_home, label: "Been at friend's home"%>
      <%= f.input :last_six_months_been_in_home_of_someone_from_different_neighbor, label: "Been in the home of someone from a different neighborhood"%>
      <%= f.input :last_six_months_had_friend_from_different_neighborhood_in_my_ho, label: "Had someone from a different neighborhood in your home?"%>
  </div>
    <div class="well">
    <h2>In the past 6 months have you...</h2>
      <%= f.input :last_six_months_donated_food_or_other_goods,
               :label => "Donated food, clothing, or other goods to an individual or organization?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :last_six_months_received_food_clothing_or_other_donated_goods,
               :label => "Received food, clothing, or other donated goods?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :last_six_months_obtained_a_car,
               :label => "Obtained a car?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :last_six_months_obtained_a_better_paying_job,
               :label => "Obtained a better paying job?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :last_six_months_paid_off_credit_card_bill_or_title_loan,
               :label => "Paid off credit card bill or pay day or title loan?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :last_six_months_opened_or_added_money_to_savings_account,
               :label => "Opened or added money to a savings account?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :examined_credit_score_in_last_six_months,
               :label => "Examined your credit score?",
               :collection => {"No"=>false, 
                               "Yes"=>true},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_examined_credit_score_in_last_six_months', 'option-value': 'true'} do %>   
              <%= f.input :credit_score,
               :label => "What is your credit score?" %><p>
            <% end %>
  </div>
   <%= f.input :belong_to_neighborhood_association,
               :label => "Do you belong to any group or organization in your neighborhood (i.e. neighborhood association, PTA/PTSA, etc.)?",
               :collection => {"Yes"=>true, 
                               "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_belong_to_neighborhood_association', 'option-value': 'true'} do %>   
              <%= f.input :neighborhood_association_name,
               :label => "What is the organization/group name?" %><p>
            <% end %>
           <%= f.input :currently_serve_as_officer_or_on_committee,
               :label => "Do you currently serve as an officer or serve on a committee for a local club or organization?",
               :collection => {"Yes"=>true, 
                               "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_serve_as_officer_or_on_committee', 'option-value': 'true'} do %>   
              <%= f.input :officer_or_committee_organization_name,
               :label => "What is the organization/group name?" %><p>
            <% end %>

    <div class="well">
      <h3>IMMEDIATE NEIGHBORS:  These are the 10 or 20 households closest to you.</h3>
         <%= f.input :how_often_do_you_talk_to_immediate_neighbors,
               :label => "About how often do you talk to or visit with your immediate neighbors?",
               :collection => {"Daily"=>4,
                               "Weekly"=>3, 
                               "Monthly"=>2,
                               "Yearly"=>1,
                               "Never"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.input :neighborhood_safe_place_to_live_rating,
               :label => "Overall, how would you rate your neighborhood as a place to live?",
               :collection => {"Excellent"=>4,
                               "Good"=>3, 
                               "Fair"=>2,
                               "Poor"=>1},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.input :my_impact_on_neighborhood_safety,
               :label => "How much impact do you think you can have in making your neighborhood a better place to live?",
               :collection => {"No impact"=>0,
                               "A small impact"=>1, 
                               "A moderate impact"=>2,
                               "A big impact"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>

    </div>
    <div class="well">
         <%= f.input :people_running_my_community_care_about_me,
               :label => "The people running my community care about what happens to me",
               :collection => {"Strongly Agree"=>4,
                               "Somewhat Agree"=>3, 
                               "Neutral"=>2,
                               "Somewhat Disagree"=>1,
                               "Disagree"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.input :religious_or_spiritual_preference,
               :label => "What is your religious/spiritual preference?" %>
        <%= f.input :member_of_religious_group,
               :label => "Are you a member of a local church, synagogue, mosque or other religious congregation?",
               :collection => {"Yes"=>true, 
                               "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_member_of_religious_group', 'option-value': 'true'} do %>   
              <%= f.input :name_of_place_of_worship,
               :label => "What is the name of the church/place of worship that you attend?" %><p>
            <% end %>
            <%= f.input :how_often_attend_religious_services,
               :label => "Not including weddings and funerals, how often do you attend religious services?",
               :collection => {"Every week"=>4,
                               "Almost every week"=>3, 
                               "Once or twice a month"=>2,
                               "A few times per year"=>1,
                               "Not at all"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>
            

    </div>


 <%= f.input :marital_status,
              :label => "Marital Status",
            :collection => {"Married"=>0, "Divorced"=>1, "Widowed"=>2, "Single (never married)"=>3, "Separated"=>4}, 
               :label_method => :first,
               :value_method => :last %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
