<%= simple_form_for(assessment, html: {class: 'form-horizontal left' }, wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } ) do |f| %>
  <% if assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :individual_id, :value => @individual.id %>

     <%= f.input :still_resident_of_neighborhood_years, :label=>"How many years have you been a resident of your neighborhood?" %>
     <%= f.input :still_resident_of_neighborhood_months, :label=>"...and how many months (past the years in the previous field) have you been a resident of your neighborhood?" %>

  <%= f.input :self_sufficency_goal,
               :label => "What is your major goal for becoming self-sufficient?",
               :collection => {"Employment"=>0, "Education"=>1, "Other"=>2},
                  :label_method => :first,
                  :value_mathod => :last %>
  <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_self_sufficency_goal', 'option-value': '2'} do %>            
        <%= f.input :self_sufficiency_goal_other, 
                    :label => "Please describe your goal for becoming self-sufficient:"%>

  <% end %>

  <div class="btn-group" data-toggle="buttons-checkbox">
      <a class="btn collapse-data-btn" data-toggle="collapse" href="#employment-details">Employment</a>
</div>
 <div id="employment-details" class="well">
  <h3>Employment:</h3>
   <%= f.input :currently_employed,
               :label => "Are you currently employed?",
               :collection => {"Yes"=>0, "No"=>1, "Disabled"=>3, "Retired"=>4, "Temporary/Seasonal"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
   <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_employed', 'option-value': '0'} do %>            
        <%= f.input :employment_type, 
                    :label => "Full-Time or Part Time?",
                    :collection => {"Full-Time"=>0, "Part-Time"=>1},
                    :label_method => :first,
                    :value_method => :last %>
        <%= f.input :employer %>
        <%= f.input :position %>
        <%= f.input :hours_worked_per_week, :label => "Hours worked per week (Average number of hours per week for the last 30 days)" %>
        <%= f.input :monthly_wage, :label => "Circle leader only - Earned income before taxes and withholdings?" %>
   <% end %>
   <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_employed', 'option-value': '1'} do %> 
   <%= f.input :if_unemployed_eligible_to_work,
               :label => "If you are not currently employed, are you eligible to work?",
               :collection => {"Yes"=>true, "No"=>false},
               :label_method => :first,
               :value_method => :last  %>
   <% end %> 

   <%= f.input :number_of_jobs_in_last_six_months, :label => "How many jobs have you had in the last six months?" %>
</div>
   <%= f.input :filed_1040_in_last_year,
               :label => "Did you file 1040 tax return for last calendar year?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
   <%= f.input :last_calendar_years_income, :label => "Last calendar year's adjusted gross income (from 1040 tax return)?" %>
   <%= f.input :currently_receive_earned_income_tax_credit,
               :label => "Do you currently receive earned income tax credit?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
   <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_receive_earned_income_tax_credit', 'option-value': '1'} do %>            
        <%= f.input :earned_income_tax_credit_amount, :label => "Amount?"%>
  <% end %>
  <%= f.input :child_support, 
               :label => "Child Support:", 
               :collection => {"eligible, no income benefit"=>0, "eligible, partial or irregular income"=>1, "eligible, receives full amount of income ordered"=>2, "not eligible / not applicable"=>3}, 
               :label_method => :first,
               :value_method => :last %> 
  
  <%= f.input :currently_registered_to_vote,
               :label => "Are you currently registered to vote?",
               :collection => {"Yes"=>1, "No"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>
  <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_registered_to_vote', 'option-value': '1'} do %>            
        <%= f.input :vote_local, :label => "Do you vote for local elections? (i.e. taxes, mayor, city council)",
               :collection => {"Yes"=>"yes", "No"=>"no"},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.input :vote_state, :label => "Do you vote for state elections? (i.e. taxes, governor, senate)",
               :collection => {"Yes"=>"yes", "No"=>"no"},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.input :vote_federal, :label => "Do you vote for federal elections? (i.e. president, congress)",
               :collection => {"Yes"=>"yes", "No"=>"no"},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.input :vote_frequency,
               :label => "How often do you vote?",
               :collection => {"Never"=>0, "Not very often"=>1, "Pretty regularly"=>2, "Very regularly"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>

  <% end %>

  
 
 <%= f.input :educational_training_last_six_months,
               :label => "Have you completed an educational or training program in the last 6 months?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
<%= f.input :education_currently_enrolled,
               :label => "Are you currently enrolled in education?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
  <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_education_currently_enrolled', 'option-value': '1'} do %>            
        <%= f.label :education_institution_name %>
        <%= f.text_field :education_institution_name, :class => "form-control" %>
        <%= f.label "What are you studying?" %>
        <%= f.text_field :education_studying, :class => "form-control" %>
         <%= f.label "How many months will it take to complete the program?" %>
        <%= f.input :education_program_length_in_months, input_html: {value: '48', step:'1'}, label: false%>
        <%= f.input :education_progress,
               :label => "How much have you completed?",
               :collection => {"Up to 25%"=>25, "26 - 50%"=>5, "51-75%"=>75, "76-99%"=>99},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.label "What diploma, degree, or certificate will you receive whne you complete the program?" %>
        <%= f.text_field :education_degree_type, :class => "form-control" %>
  <% end %>


  <div class="well">
      <h3>Have you ever been told by a medical clinician that you have...</h3>
      <%= f.input :medical_high_blood_sugar,
               :label => "...high blood sugar?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :medical_diabetes,
               :label => "..diabetes?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_medical_diabetes', 'option-value': 'true'} do %>            
         <%= f.input :medical_diabetes_type,
               :label => "Which type?",
               :collection => {"Type 1"=>"type 1", "Type 2"=>"type 2", "Gestational"=>"gestational"},
                  :label_method => :first,
                  :value_mathod => :last %>

       <% end %>
       <%= f.input :medical_pulmonary_disease,
               :label => "...pulmonary disease (COPD/asthma)?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
       <%= f.input :medical_elevated_blood_pressure,
               :label => "..elevated blood pressure?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      
      <%= f.input :medical_mental_health_diagnosis,
               :label => "...mental health diagnosis?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :medical_tobacco_products,
               :label => "Do you use tobacco products?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :medical_alcohol,
               :label => "Do you drink alcohol?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_medical_alcohol', 'option-value': 'true'} do %>            
         <%= f.input :medical_alcohol_avg_drinks_per_week, input_html: {value: '3', step:'1'}, label: "On average, how many drinks do you consume per week?"%>
      <% end %>
</div>


      <%= f.input :medical_height, label: "Height (in inches, i.e. 60 inches is 5 feet):"%>
      <%= f.input :medical_weight, label: "Weight (lb):"%>
      <%= f.input :medical_physical_family_member_impact,
               :label => "**PHYSICAL HEALTH: Please select which of the following best describes your family's current situation:",
               :collection => {"A family member's health problems prohibit employment or other goal options.  Or, family member is in need of 24 hour care."=>1, 
                               "A family member's health problem regularly interferes with employment or other goals"=>2,
                               "A family member's health problems occasionally interferes with employment or other goal options"=>3,
                               "A family member's physical health problem does not interfere with employment or other goal options"=>4,
                               "There are no physical health problems for any family member at this time"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :health_insurance,
               :label => "**HEALTH INSURANCE: Select which of the following best describes your family's current situation:",
               :collection => {"No health insurance for any family member"=>1, 
                               "Not all family members are insured"=>2,
                               "All family members are covered by government insurance"=>3,
                               "All family members are insured, but the premiums and/or co-pays are unaffordable"=>4,
                               "All family members are covered by insurance and the premiums and co-pays are affordable"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_health_insurance', 'option-value': '2|3|4|5'} do %> 

          <%= f.input :health_insurance_primary,
                   :label => "What type of health coverage do YOU have?",
                   :collection => {"No coverage"=>0,"Employer-provided coverage"=>1, "Individually Purchased Private Health Plan"=>2, "Individually purchased through affordable healthcare act (healthcare.gov)"=>3, "Government sponsored health plan (medicare, medicaid, veterans health administration"=>4, "Other"=>5},
                      :label_method => :first,
                      :value_mathod => :last %>
          <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_health_insurance_primary', 'option-value': '5'} do %> 
          <%= f.label "If other, please describe." %>
            <%= f.text_field :health_insurance_primary_other, :class => "form-control" %>        

          <% end %>
          <%= f.input :health_insurance_children,
                   :label => "What type of health coverage do your CHILDREN have?",
                   :collection => {"No coverage"=>0,"Employer-provided coverage"=>1, "Individually Purchased Private Health Plan"=>2, "Individually purchased through affordable healthcare act (healthcare.gov)"=>3, "Government sponsored health plan (medicare, medicaid, veterans health administration"=>4, "Other"=>5},
                      :label_method => :first,
                      :value_mathod => :last %>
          <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_health_insurance_children', 'option-value': '5'} do %> 
          <%= f.label "If other, please describe." %>
            <%= f.text_field :health_insurance_children_other, :class => "form-control" %>        

          <% end %>

           <%= f.input :health_insurance_spouse_or_significant_other,
                   :label => "What type of health coverage does your SPOUSE OR SIGNIFICANT OTHER have?",
                   :collection => {"No coverage"=>0,"Employer-provided coverage"=>1, "Individually Purchased Private Health Plan"=>2, "Individually purchased through affordable healthcare act (healthcare.gov)"=>3, "Government sponsored health plan (medicare, medicaid, veterans health administration"=>4, "Other"=>5},
                      :label_method => :first,
                      :value_mathod => :last %>
          <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_health_insurance_spouse_or_significant_other', 'option-value': '5'} do %> 
          <%= f.label "If other, please describe." %>
            <%= f.text_field :health_insurance_spouse_or_significant_other_other, :class => "form-control" %>        

          <% end %>
      <% end %>

      <%= f.input :primary_care_physician_primary,
               :label => "Do you have a primary care physician?",
               :collection => {"Yes"=>1, "No"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>

      <%= f.input :primary_care_physician_children,
               :label => "Do your children have a primary care physician?",
               :collection => {"Yes"=>1, "No"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>

      <%= f.input :medical_treatment_location,
                   :label => "Where do you seek medical treatment?",
                   :collection => {"ER"=>0,"Urgent Care"=>1, "Priamry Care"=>2, "Free Clinics)"=>3},
                      :label_method => :first,
                      :value_mathod => :last %>
        <%= f.input :current_health,
                   :label => "How would you describe your current health?",
                   :collection => {"Excellent"=>4,"Very Good"=>3, "Good"=>2, "Fair"=>1, "Poor"=>0},
                      :label_method => :first,
                      :value_mathod => :last %>
        <%= f.input :happiness_level,
                   :label => "How happy are you?",
                   :collection => {"Very Happy"=>4,"Happy"=>3, "Neutral"=>2, "Unhappy"=>1, "Very unhappy"=>0},
                      :label_method => :first,
                      :value_mathod => :last %>
      
        <%= f.input :household_member_in_jail,
               :label => "Is a household member currently in jail?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_household_member_in_jail', 'option-value': 'true'} do %>            
          <%= f.input :household_member_in_jail_current_criminal_resoution_need,
               :label => "Is there a current need for resolution of criminal background?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <% end %>
        <%= f.input :convicted_of_crime_last_six_months,
               :label => "Have you been convicted of a crime in the last six months?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
       <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_convicted_of_crime_last_six_months', 'option-value': 'true'} do %>            
          <%= f.input :in_need_of_current_criminal_resolution,
               :label => "Is there a current need for resolution of criminal background?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <% end %>
       

        <%= f.input :other_legal_matters_need_resolved,
               :label => "Any other legal matters that need resolved?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>

  <div class="well">
    <%= f.input :cocaine_crack_speed,
               :label => "Have you ever used cocaine, crack, or speed?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_cocaine_crack_speed', 'option-value': 'true'} do %>   
          <%= f.label "When was the last time you used?" %>
          <%= f.date_select :drug_date_of_last_use_ccs,
               :label => "When was the last time you used?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last,
                  :start_year => 1950, 
                  :end_year => Time.now.year %><p>
        <% end %>
    <%= f.input :meth,
               :label => "Have you ever used meth?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_meth', 'option-value': 'true'} do %>   
          <%= f.label "When was the last time you used?" %>
          <%= f.date_select :drug_date_of_last_use_meth,
               :label => "When was the last time you used?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last,
                  :start_year => 1950, 
                  :end_year => Time.now.year %><p>
        <% end %>
      <%= f.input :marijuana,
               :label => "Have you ever used marijuana?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_marijuana', 'option-value': 'true'} do %>   
          <%= f.label "When was the last time you used?" %>
          <%= f.date_select :drug_date_of_last_use_marijuana,
               :label => "When was the last time you used?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last,
                  :start_year => 1950, 
                  :end_year => Time.now.year %><p>
        <% end %>
        <%= f.input :heroin_opiates,
               :label => "Have you ever used Heroin/Opiates?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_heroin_opiates', 'option-value': 'true'} do %>   
          <%= f.label "When was the last time you used?" %>
          <%= f.date_select :drug_date_of_last_use_heroin,
               :label => "When was the last time you used?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last,
                  :start_year => 1950, 
                  :end_year => Time.now.year %><p>
        <% end %>
        <%= f.input :other_boolean,
               :label => "Have you ever used any other drug not listed previously?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_other_boolean', 'option-value': 'true'} do %>   
          <%= f.label "When was the last time you used?" %>
          <%= f.date_select :drug_date_of_last_use_other,
               :label => "When was the last time you used?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last,
                  :start_year => 1950, 
                  :end_year => Time.now.year %><p>
        <% end %>
  </div>


  <div class="well">
    <h3>Social Capital and Civic Engagement Questionnaire</h3>
     <%= f.input :written_plan_to_become_self_sufficient,
               :label => "As of today, I have a written plan for how I am going to reach my goals and become self-sufficient.",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= f.input :current_budget_and_savings_plan,
               :label => "As of today, I have a budget and savings plan to help build my assets.",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= f.input :safe_and_stable_place_to_live,
               :label => "As of today, I have a safe and stable place to live.",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= f.input :people_in_my_life_i_can_trust_for_support,
               :label => "Are there pople in your life whom you trust and can count on for emotional or moral support?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_people_in_my_life_i_can_trust_for_support', 'option-value': 'true'} do %>   
          <%= f.input :number_of_people_trusted_for_emotional_or_moral_support,
               :label => "How many?" %><p>
          <%= f.input :number_of_people_help_financially,
               :label => "How many of these people would be able to help you in times of financial trouble?" %><p>
        <% end %>
     <%= f.input :people_in_my_life_serving_as_mentors,
               :label => "Are there pople in your life who have served as mentors or have guided you to resources such as job opportunities, clubs, and legal services?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_people_in_my_life_serving_as_mentors', 'option-value': 'true'} do %>   
     <%= f.input :number_of_people_trusted_for_mentorship,
               :label => "How many of these people do you currently know and can reach out to?" %><p>
     <% end %>
     <%= f.input :most_people_can_be_trusted,
               :label => "Generally speaking, would you say that most people can be trusted or that you need to be very careful in dealing with people",
               :collection => {"Most people can be trusted"=>1, "You can't be too careful"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>
  </div>
   <div class="well">
    <h2>I trust the following people:</h2>

     <%= f.input :i_trust_people_in_my_neighborhood,
               :label => "...people in your neighborhood",
               :collection => {"Strongly Agree"=>0, 
                               "Somewhat Agree"=>1,
                               "Neutral"=>2,
                               "Somewhat Disagree"=>3,
                               "Disagree"=>4},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= f.input :i_trust_police_in_my_community,
               :label => "...police in your neighborhood",
               :collection => {"Strongly Agree"=>0, 
                               "Somewhat Agree"=>1,
                               "Neutral"=>2,
                               "Somewhat Disagree"=>3,
                               "Disagree"=>4},
                  :label_method => :first,
                  :value_mathod => :last %>
     <%= f.input :i_trust_police_in_my_community,
               :label => "...police in your community",
               :collection => {"Strongly Agree"=>0, 
                               "Somewhat Agree"=>1,
                               "Neutral"=>2,
                               "Somewhat Disagree"=>3,
                               "Disagree"=>4},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :i_trust_local_govt,
               :label => "...local government",
               :collection => {"Strongly Agree"=>0, 
                               "Somewhat Agree"=>1,
                               "Neutral"=>2,
                               "Somewhat Disagree"=>3,
                               "Disagree"=>4},
                  :label_method => :first,
                  :value_mathod => :last %>
  </div>
  <div class="well">
    <h2>In the past 6 months, how many times have you...</h2>
      <%= f.input :last_six_months_worked_on_neighborhood_project, label: "Worked on a neighborhood project?"%>
      <%= f.input :last_six_months_worked_with_neighborhood_partners, label: "Worked with neighbord in your neighborhood to improve or fix something?"%>
      <%= f.input :last_six_months_volunteered, label: "Volunteered? (0 for no, if yes, average number of hours per month)"%>
      <%= f.input :last_six_months_attended_public_meetings_for_neighborhood, label: "Attended any public meeting in which there was a discussion of your neighborhood concerns and/or development"%>
      <%= f.input :last_six_months_attended_public_meetings_for_schools, label: "Attended a public meeting in which there was a discussion about schools or education"%>
      <%= f.input :last_six_months_attended_politial_rally, label: "Attended a political meeting or rally?"%>
      <%= f.input :last_six_months_had_friends_in_home, label: "Had friends over to your home?"%>
      <%= f.input :last_six_months_been_at_friends_home, label: "Been at friend's home"%>
      <%= f.input :last_six_months_been_in_home_of_friend_of_different_race, label: "Been in the home of a friend from a different race"%>
      <%= f.input :last_six_months_been_in_home_of_someone_from_different_neighbor, label: "Been in the home of someone from a different neighborhood"%>
      <%= f.input :last_six_months_had_friend_from_different_neighborhood_in_my_ho, label: "Had someone from a different neighborhood in your home?"%>
  </div>
    <div class="well">
    <h2>In the past 6 months have you...</h2>
      <%= f.input :last_six_months_donated_food_or_other_goods,
               :label => "Donated food, clothing, or other goods to an individual or organization?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :last_six_months_received_food_clothing_or_other_donated_goods,
               :label => "Received food, clothing, or other donated goods?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :last_six_months_obtained_a_car,
               :label => "Obtained a car?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :last_six_months_obtained_a_better_paying_job,
               :label => "Obtained a better paying job?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :last_six_months_paid_off_credit_card_bill_or_title_loan,
               :label => "Paid off credit card bill or pay day or title loan?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :last_six_months_opened_or_added_money_to_savings_account,
               :label => "Opened or added money to a savings account?",
               :collection => {"No"=>0, 
                               "Yes"=>1,
                               "N/A"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :examined_credit_score_in_last_six_months,
               :label => "Examined your credit score?",
               :collection => {"No"=>false, 
                               "Yes"=>true},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_examined_credit_score_in_last_six_months', 'option-value': 'true'} do %>   
              <%= f.input :credit_score,
               :label => "What is your credit score?" %><p>
            <% end %>
  </div>
   <%= f.input :belong_to_neighborhood_association,
               :label => "Do you belong to any group or organization in your neighborhood (i.e. neighborhood association, PTA/PTSA, etc.)?",
               :collection => {"Yes"=>true, 
                               "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_belong_to_neighborhood_association', 'option-value': 'true'} do %>   
              <%= f.input :neighborhood_association_name,
               :label => "What is the organization/group name?" %><p>
            <% end %>
           <%= f.input :currently_serve_as_officer_or_on_committee,
               :label => "Do you currently serve as an officer or serve on a committee for a local club or organization?",
               :collection => {"Yes"=>true, 
                               "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_serve_as_officer_or_on_committee', 'option-value': 'true'} do %>   
              <%= f.input :officer_or_committee_organization_name,
               :label => "What is the organization/group name?" %><p>
            <% end %>

    <div class="well">
      <h3>IMMEDIATE NEIGHBORS:  These are the 10 or 20 households closest to you.</h3>
         <%= f.input :how_often_do_you_talk_to_immediate_neighbors,
               :label => "About how often do you talk to or visit with your immediate neighbors?",
               :collection => {"Daily"=>4,
                               "Weekly"=>3, 
                               "Monthly"=>2,
                               "Yearly"=>1,
                               "Never"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.input :neighborhood_safe_place_to_live_rating,
               :label => "Overall, how would you rate your neighborhood as a place to live?",
               :collection => {"Excellent"=>4,
                               "Good"=>3, 
                               "Fair"=>2,
                               "Poor"=>1},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.input :my_impact_on_neighborhood_safety,
               :label => "How much impact do you think you can have in making your neighborhood a better place to live?",
               :collection => {"No impact"=>0,
                               "A small impact"=>1, 
                               "A moderate impact"=>2,
                               "A big impact"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>

    </div>
    <div class="well">
         <%= f.input :people_running_my_community_care_about_me,
               :label => "The people running my community care about what happens to me",
               :collection => {"Strongly Agree"=>4,
                               "Somewhat Agree"=>3, 
                               "Neutral"=>2,
                               "Somewhat Disagree"=>1,
                               "Disagree"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.input :religious_or_spiritual_preference,
               :label => "What is your religious/spiritual preference?" %>
        <%= f.input :member_of_religious_group,
               :label => "Are you a member of a local church, synagogue, mosque or other religious congregation?",
               :collection => {"Yes"=>true, 
                               "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_member_of_religious_group', 'option-value': 'true'} do %>   
              <%= f.input :name_of_place_of_worship,
               :label => "What is the name of the church/place of worship that you attend?" %><p>
            <% end %>
            <%= f.input :how_often_attend_religious_services,
               :label => "Not including weddings and funerals, how often do you attend religious services?",
               :collection => {"Every week"=>4,
                               "Almost every week"=>3, 
                               "Once or twice a month"=>2,
                               "A few times per year"=>1,
                               "Not at all"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :primary_adult_enrolled_best_description_academic,
               :label => "**Academic Skills: Select which of the following best describes the situation for the primary adult enrolled in the program:",
               :collection => {"Lack of academic skills is currently a barrier to employment or other goal attainment"=>1,
                               "Lack of academic skills severely limits employment or other goal attainment.  Able to read with pictures and perform basic addition and/or subtraction."=>2, 
                               "Lack of academic skills limits employment or other goal attainment.  Able to read and complete basic job applications and can perform basic calculations"=>3,
                               "Academic skills occasionally limit employment or other goal attainment.  Can read and perform math calculations at a high school level"=>4,
                               "Academic skills are not a barrier to employment or other goal attainment"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :family_best_description_current_situation_income,
               :label => "**Income: Please select which of the following best describes your families current situation:",
               :collection => {"No regular or consistent income"=>1,
                               "Income does not meet basic needs."=>2, 
                               "Income meets basic needs but is insufficient for emergencies"=>3,
                               "Income meets basic needs and allows for minor emergencies"=>4,
                               "Income meets basic needs, emergencies, and allows for extras and savings"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :family_best_description_current_situation_income,
               :label => "**Employment: Please select which of the following best describes your situation:",
               :collection => {"Unemployed or never worked"=>1,
                               "Unemployed for less than 3 months."=>2, 
                               "Part-time employment"=>3,
                               "Full-time employment without fringe benefits"=>4,
                               "Full-time employment with a living wage and benefits"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :family_best_description_current_situation_food,
               :label => "**Food: Please help me select which of the following best describes your family's current situation:",
               :collection => {"Family has no food and reports they are hungry"=>1,
                               "Family has no way to cook or refridgerate food and eats most meals at soup kitchens, free community meals, or with friends and relatives."=>2, 
                               "Family has adequate food for less than one week available"=>3,
                               "Family has more than one week's food available and has access to supplemental food resources"=>4,
                               "Family obtains adequate meals without the use of supplemental resources"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :family_best_description_current_situation_housing,
               :label => "**Housing: Please select which of the following best describes your family's current situation:",
               :collection => {"Family is currently homeless (i.e. homeless shelter, on the streets, out of vehicle, residing in treatment facility or are staying with friends"=>1,
                               "Family is in transitional housing (i.e. temporary housing, hotel, motel, short term lease (less than six months) or current residence is in need of major repairs"=>2, 
                               "Family is currently living in permanent housing and there is a threat of eviction"=>3,
                               "Family is currently living in permanent housing but the cost exceeds 50% of family income"=>4,
                               "Family is currently living in permanent non-subsidized housing"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :family_best_description_current_situation_transportation,
               :label => "**Transportation: Please help me select which of the following best describes your family's current situation:",
               :collection => {"No transportation"=>1,
                               "No transportation; but are able to borrow car, access public transportation but have limited resources for fare, no license"=>2, 
                               "Have a vehicle but needs major repairs, not licensed, etc."=>3,
                               "Own vehicle but needs minor repairs, limited resources for gas"=>4,
                               "Own vehicle and does not need repair and has resources for gas"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :family_best_description_current_situation_mental_health,
               :label => "**Mental Health and Substance Abuse: Please select which of the following best describes your family's current situation:",
               :collection => {"A family member's mental health and/or substance abuse prohibit employment or other goal atttainment"=>1,
                               "A family member's mental health and/or substance abuse regularly interferes with employment/other goals"=>2, 
                               "A family member's mental health and/or substance abuse occasionally interfere with employment/other goals"=>3,
                               "A family member's mental health and/or substance abuse does not interfere with employment/other goals"=>4,
                               "There are no mental health or substance abuse problems for any family member at this time"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :primary_adult_enrolled_best_description_stressors,
               :label => "**Psychosocial and Environmental Stressors: Please select which of the following describes the situation for the primary adult enrolled in the program:",
               :collection => {"Current stressors are so great that participant is unable to focus on employment or other goal attainment"=>1,
                               "Current stressors considerably affect participant's ability to focus on employment or other goal attainment"=>2, 
                               "Current stressors moderately affect participant's ability to focus on employment or other goal attainment"=>3,
                               "Current stressors only minimally affect participant's ability to focus on employment or other goal attainment"=>4,
                               "Stressors do not currently interfere with employment or other goal attainment"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>

    </div>

<div class="btn-group" data-toggle="buttons-checkbox">
      <a class="btn collapse-data-btn" data-toggle="collapse" href="#education-details">Education</a>
</div>
 <div id="education-details" class="well collapse in">  <h3>Education:</h3>
<%= f.input :highest_education_attained, 
            :label => "**Educational Attainment: (Highest Degree Earned)",
            :collection => {"Less than high school"=>0, "High School Diploma (or equivalent, HiSET)"=>1, "Attended, but did not complete college or technical training"=>2, "Completed technical training (CNA, cosmetology, auto mechanic, etc)"=>3, "Associate's Degree (2-year degree)"=>4, "Bachelor's Degree (4-year degree)"=>5, "Master's Degree"=>6}, 
               :label_method => :first,
               :value_method => :last %>
   <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_highest_education_attained', 'option-value': '0'} do %> 
      <%= f.input :last_grade_completed, :label => "What was the last grade you completed?" %>
   <% end %>
   <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_highest_education_attained', 'option-value': '3'} do %> 
      <%= f.input :technical_training_degree, :label => "What type of technical degree did you get?" %>
   <% end %>
   <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_highest_education_attained', 'option-value': '4'} do %> 
      <%= f.input :associates_degree_type, :label => "What was your Associates degree in?" %>
   <% end %>
   <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_highest_education_attained', 'option-value': '5'} do %> 
      <%= f.input :bachelors_degree_type, :label => "What was your Bachelor's degree in?" %>
   <% end %>
   <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_highest_education_attained', 'option-value': '6'} do %> 
      <%= f.input :masters_degree_type, :label => "What was your Masters degree in?" %>
   <% end %>


</div>
 <%= f.input :marital_status,
              :label => "Marital Status",
            :collection => {"Married"=>0, "Divorced"=>1, "Widowed"=>2, "Single (never married)"=>3, "Separated"=>4}, 
               :label_method => :first,
               :value_method => :last %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
