<p id="notice"><%= notice %></p>

<p>
  <strong>Self sufficency goal:</strong>
  <%= @assessment.self_sufficency_goal %>
</p>

<p>
  <strong>Self sufficiency goal other:</strong>
  <%= @assessment.self_sufficiency_goal_other %>
</p>

<p>
  <strong>Currently registered to vote:</strong>
  <%= @assessment.currently_registered_to_vote %>
</p>

<p>
  <strong>Vote local:</strong>
  <%= @assessment.vote_local %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @assessment.boolean %>
</p>

<p>
  <strong>Vote state:</strong>
  <%= @assessment.vote_state %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @assessment.boolean %>
</p>

<p>
  <strong>Vote federal:</strong>
  <%= @assessment.vote_federal %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @assessment.boolean %>
</p>

<p>
  <strong>Vote frequency:</strong>
  <%= @assessment.vote_frequency %>
</p>

<p>
  <strong>Educational training last six months:</strong>
  <%= @assessment.educational_training_last_six_months %>
</p>

<p>
  <strong>Education currently enrolled:</strong>
  <%= @assessment.education_currently_enrolled %>
</p>

<p>
  <strong>Education institution name:</strong>
  <%= @assessment.education_institution_name %>
</p>

<p>
  <strong>Education studying:</strong>
  <%= @assessment.education_studying %>
</p>

<p>
  <strong>Education program length in months:</strong>
  <%= @assessment.education_program_length_in_months %>
</p>

<p>
  <strong>Education progress:</strong>
  <%= @assessment.education_progress %>
</p>

<p>
  <strong>Education degree type:</strong>
  <%= @assessment.education_degree_type %>
</p>

<p>
  <strong>Medical high blood sugar:</strong>
  <%= @assessment.medical_high_blood_sugar %>
</p>

<p>
  <strong>Medical diabetes:</strong>
  <%= @assessment.medical_diabetes %>
</p>

<p>
  <strong>Medical diabetes type:</strong>
  <%= @assessment.medical_diabetes_type %>
</p>

<p>
  <strong>Medical pulmonary disease:</strong>
  <%= @assessment.medical_pulmonary_disease %>
</p>

<p>
  <strong>Medical elevated blood pressure:</strong>
  <%= @assessment.medical_elevated_blood_pressure %>
</p>

<p>
  <strong>Medical elevated blood pressure gestational:</strong>
  <%= @assessment.medical_elevated_blood_pressure_gestational %>
</p>

<p>
  <strong>Medical mental health diagnosis:</strong>
  <%= @assessment.medical_mental_health_diagnosis %>
</p>

<p>
  <strong>Medical tobacco products:</strong>
  <%= @assessment.medical_tobacco_products %>
</p>

<p>
  <strong>Medical alcohol:</strong>
  <%= @assessment.medical_alcohol %>
</p>

<p>
  <strong>Medical alcohol avg drinks per week:</strong>
  <%= @assessment.medical_alcohol_avg_drinks_per_week %>
</p>

<p>
  <strong>Medical height:</strong>
  <%= @assessment.medical_height %>
</p>

<p>
  <strong>Medical weight:</strong>
  <%= @assessment.medical_weight %>
</p>

<p>
  <strong>Medical physical family member impact:</strong>
  <%= @assessment.medical_physical_family_member_impact %>
</p>

<p>
  <strong>Health insurance:</strong>
  <%= @assessment.health_insurance %>
</p>

<p>
  <strong>Health insurance primary:</strong>
  <%= @assessment.health_insurance_primary %>
</p>

<p>
  <strong>Health insurance primary type:</strong>
  <%= @assessment.health_insurance_primary_type %>
</p>

<p>
  <strong>Health insurance primary other:</strong>
  <%= @assessment.health_insurance_primary_other %>
</p>

<p>
  <strong>Health insurance children:</strong>
  <%= @assessment.health_insurance_children %>
</p>

<p>
  <strong>Health insurance children type:</strong>
  <%= @assessment.health_insurance_children_type %>
</p>

<p>
  <strong>Health insurance children other:</strong>
  <%= @assessment.health_insurance_children_other %>
</p>

<p>
  <strong>Health insurance spouse significant:</strong>
  <%= @assessment.health_insurance_spouse_significant %>
</p>

<p>
  <strong>Health insurance spouse significant:</strong>
  <%= @assessment.health_insurance_spouse_significant %>
</p>

<p>
  <strong>Type:</strong>
  <%= @assessment.type %>
</p>

<p>
  <strong>Health insurance spouse significant other:</strong>
  <%= @assessment.health_insurance_spouse_significant_other %>
</p>

<p>
  <strong>Primary care physician:</strong>
  <%= @assessment.primary_care_physician %>
</p>

<p>
  <strong>Primary care physician children:</strong>
  <%= @assessment.primary_care_physician_children %>
</p>

<p>
  <strong>Medical treatment location:</strong>
  <%= @assessment.medical_treatment_location %>
</p>

<p>
  <strong>Current health:</strong>
  <%= @assessment.current_health %>
</p>

<p>
  <strong>Happiness level:</strong>
  <%= @assessment.happiness_level %>
</p>

<p>
  <strong>Childhood raisedby other than parents:</strong>
  <%= @assessment.childhood_raisedby_other_than_parents %>
</p>

<p>
  <strong>Childhood raisedby other than parents length in months:</strong>
  <%= @assessment.childhood_raisedby_other_than_parents_length_in_months %>
</p>

<p>
  <strong>Childhood raisedby other than parents by who:</strong>
  <%= @assessment.childhood_raisedby_other_than_parents_by_who %>
</p>

<p>
  <strong>Childhood residence away from family:</strong>
  <%= @assessment.childhood_residence_away_from_family %>
</p>

<p>
  <strong>Childhood residence away from family length in months:</strong>
  <%= @assessment.childhood_residence_away_from_family_length_in_months %>
</p>

<p>
  <strong>Childhood swore at or put down:</strong>
  <%= @assessment.childhood_swore_at_or_put_down %>
</p>

<p>
  <strong>Childhood made to feel afraid of injury:</strong>
  <%= @assessment.childhood_made_to_feel_afraid_of_injury %>
</p>

<p>
  <strong>Childhood pushed:</strong>
  <%= @assessment.childhood_pushed %>
</p>

<p>
  <strong>Childhood hit hard:</strong>
  <%= @assessment.childhood_hit_hard %>
</p>

<p>
  <strong>Childhood lived with alcoholic:</strong>
  <%= @assessment.childhood_lived_with_alcoholic %>
</p>

<p>
  <strong>Childhood lived with drug user:</strong>
  <%= @assessment.childhood_lived_with_drug_user %>
</p>

<p>
  <strong>Childhood lived with depressed or mentally ill:</strong>
  <%= @assessment.childhood_lived_with_depressed_or_mentally_ill %>
</p>

<p>
  <strong>Childhood lived with member who attempted suicide:</strong>
  <%= @assessment.childhood_lived_with_member_who_attempted_suicide %>
</p>

<p>
  <strong>Childhood lived with member went to jail:</strong>
  <%= @assessment.childhood_lived_with_member_went_to_jail %>
</p>

<p>
  <strong>Childhood jailed family member which:</strong>
  <%= @assessment.childhood_jailed_family_member_which %>
</p>

<p>
  <strong>Childhood caregiver was pushed:</strong>
  <%= @assessment.childhood_caregiver_was_pushed %>
</p>

<p>
  <strong>Childhood caregiver bitten or hit:</strong>
  <%= @assessment.childhood_caregiver_bitten_or_hit %>
</p>

<p>
  <strong>Childhood caregiver hit repeatedly:</strong>
  <%= @assessment.childhood_caregiver_hit_repeatedly %>
</p>

<p>
  <strong>Childhood caregiver threatened with weapon:</strong>
  <%= @assessment.childhood_caregiver_threatened_with_weapon %>
</p>

<p>
  <strong>Ever been to jail:</strong>
  <%= @assessment.ever_been_to_jail %>
</p>

<p>
  <strong>Household member in jail:</strong>
  <%= @assessment.household_member_in_jail %>
</p>

<p>
  <strong>Household member in jail resoution need:</strong>
  <%= @assessment.household_member_in_jail_resoution_need %>
</p>

<p>
  <strong>Adult household member gone to jail:</strong>
  <%= @assessment.adult_household_member_gone_to_jail %>
</p>

<p>
  <strong>Adult criminal resolution needed:</strong>
  <%= @assessment.adult_criminal_resolution_needed %>
</p>

<p>
  <strong>Legal matters need resolved:</strong>
  <%= @assessment.legal_matters_need_resolved %>
</p>

<p>
  <strong>Cocaine crack speed:</strong>
  <%= @assessment.cocaine_crack_speed %>
</p>

<p>
  <strong>Meth:</strong>
  <%= @assessment.meth %>
</p>

<p>
  <strong>Marijuana:</strong>
  <%= @assessment.marijuana %>
</p>

<p>
  <strong>Heroin opiates:</strong>
  <%= @assessment.heroin_opiates %>
</p>

<p>
  <strong>Other boolean:</strong>
  <%= @assessment.other_boolean %>
</p>

<p>
  <strong>Drug date of last use:</strong>
  <%= @assessment.drug_date_of_last_use %>
</p>

<p>
  <strong>Individual:</strong>
  <%= @assessment.individual %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
