<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>Meeting night:</strong>
  <%= @cohort.meeting_night %>
</p>

<p>
  <strong>Meeting time:</strong>
  <%= @cohort.meeting_time %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @cohort.organization.name %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
<%= link_to "New Individual", new_individual_path(cohort_id: @cohort.id) %>
