<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>Meeting night:</strong>
  <%= @cohort.meeting_night %>
</p>

<p>
  <strong>Meeting time:</strong>
  <%= @cohort.meeting_time %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @cohort.organization.name %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %> |
<%= link_to "Assign Individual", assign_cohort_path(cohort_id: @cohort.id) %>

<h3>Individuals in this Cohort</h3>

<table class="table table-striped">
	<tr>
		<th>Name</th><th>Phone Number</th><th>E-mail Address</th><th></th>
		</th>
	</tr>
<% @individuals.each do |i| %>
	<tr id="<%= i.id %>">
		<td><%= i.to_label %></td><td><%= i.phone_number %></td><td><%= i.email_address %></td><td><%= link_to "Remove from cohort", remove_individual_from_cohort_path(individual_id: i.id), remote: true %></td>
	</tr>
<% end %>
</table>
