  <div id="wrapper">
        <div id="sidebar-wrapper" class="col-md-1">
            <div id="sidebar">
                <ul class="nav list-group">
                    <li>
                        <a class="list-group-item" href="#demographics" data-target="#demographics" data-toggle="tab"><i class="icon-home icon-1x"></i>Demographics</a>
                    </li>
                    <li>
                        <a class="list-group-item" href="#medical" data-target="#medical"  data-toggle="tab"><i class="icon-home icon-1x"></i>Medical</a>
                    </li>
                    <li>
                        <a class="list-group-item" href="/reports"><i class="icon-home icon-1x"></i>Reports</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main-wrapper" class="col-md-11 pull-right">
            <div id="main">
              <div class="navbar">
                <h1>Drew Lewis Foundation @ The Fairbanks</h1>
              </div>

                <div class="container">
          
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span8 well">
                              <%= form_for(@family) do |f| %>
                                <ul class="nav nav-tabs">
                                    <li class="active"> 
                                      <a href="#demographics" data-target="#demographics" data-toggle="tab">Demographics</a>
                                    </li>
                                    <li>
                                      <a href="#medical" data-target="#medical" data-toggle="tab">Medical</a>
                                    </li>
                                    <li>
                                      <a href="#financial" data-target="#financial" data-toggle="tab">Financial</a>
                                    </li>
                                </ul>
                                <div class="tab-content panel-body">
                                    <div class="tab-pane active fade in" id="demographics">
                                        <%= f.label :name %>
                                        <%= f.text_field :name %>

                                        <%= f.label :address %>
                                        <%= f.email_field :address %>

                                        <%= f.label :city %>
                                        <%= f.email_field :city %>
                                        <p>
                                        
                                    </div>
                                    <div class="tab-pane" id="medical">
                                      Medical tab content
                                    </div>
                                    <div class="tab-pane" id="financial">
                                      Financial tab content
                                    </div>
                                </div>
                                <%= f.submit "Add family", class: "btn btn-primary button action-button-reverse'" %>
                                <% end %>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
</div>

