<%= simple_form_for(individual, html: { class: 'form-horizontal left' }, wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } ) do |f| %>
  <% if individual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(individual.errors.count, "error") %> prohibited this individual from being saved:</h2>

      <ul>
      <% individual.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :address_line_1 %>
<%= f.input :address_line_2 %>
<%= f.input :city, input_html: {value: 'Springfield'} %>
<%= f.input :state, input_html: {value: 'Mo'}%>
<%= f.input :zip %>
<%= f.input :phone_number %>
<%= f.input :mobile_phone_number %>
<%= f.input :email_address, placeholder: 'user@domain.com' %>
<%= f.input :DOB, :label => "Birth Date", as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: false,
                              order: [:month, :day, :year]  %>
<%= f.input :start_date, :value => @cohort.start_date  %>
<%= f.input :us_citizen %>
<%= f.input :non_us_citizen_country_of_citizenship, :as => :string %>
<%= f.input :ethnicity%>
<%= f.input :ethnicity_other %>
<%= f.input :lanuage_primary, input_html: {value: 'English'} %>
<%= f.input :language_other %>
<%= f.input :springfield_native %>
<%= f.input :springfield_native_neighborhood %>
<%= f.input :springfield_non_native_population %>
<%= f.input :neighborhood_resident_length_in_months %>
<%= f.input :springfield_non_native_distance %>
<%= f.hidden_field :cohort_id, :value => @cohort.id %>
<%= f.button :submit %>
</fieldset>

<% end %>
