<%= simple_form_for(individual, html: { class: 'form-horizontal left' }, wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } ) do |f| %>
     <% if individual.errors.any? %>
       <div id="error_explanation">
         <h2><%= pluralize(individual.errors.count, "error") %> prohibited this individual from being saved:</h2>

         <ul>
         <% individual.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
         </ul>
       </div>
     <% end %>
   <fieldset>
  
   
  

  

   <%= f.hidden_field :organization_id, :value => @organization.id %>
   <%= f.button :submit %>
   </fieldset>

<% end %>
