<p id="notice"><%= notice %></p>

<h1>Individuals</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Home Phone</th>
      <th>Mobile Phone</th>
      <th>Email</th>
      <th>Dob</th>
      <th>Start date</th>
      <th>Cohort</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @individuals.each do |individual| %>
      <tr>
        <td><%= individual.first_name %></td>
        <td><%= individual.last_name %></td>
        <td><%= individual.phone_number %></td>
        <td><%= individual.mobile_phone_number %></td>
        <td><%= individual.email_address %></td>
        <td><%= individual.DOB %></td>
        <td><%= individual.start_date %></td>
        <td><%= individual.cohort.try(:meeting_night) %></td>
        <td><%= link_to 'Show', individual %></td>
        <td><%= link_to 'Edit', edit_individual_path(individual) %></td>
        <td><%= link_to 'Destroy', individual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Assessment', new_assessment_path(individual_id: individual.id), method: :get %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

