<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @individual.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @individual.last_name %>
</p>

<p>
  <strong>Address line 1:</strong>
  <%= @individual.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @individual.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @individual.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @individual.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @individual.zip %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @individual.phone_number %>
</p>

<p>
  <strong>Mobile phone number:</strong>
  <%= @individual.mobile_phone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @individual.email_address %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @individual.DOB %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @individual.start_date %>
</p>

<p>
  <strong>Us citizen:</strong>
  <%= @individual.us_citizen %>
</p>

<p>
  <strong>Non us citizen:</strong>
  <%= @individual.non_us_citizen %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @individual.ethnicity %>
</p>

<p>
  <strong>Ethnicity other:</strong>
  <%= @individual.ethnicity_other %>
</p>

<p>
  <strong>Lanuage primary:</strong>
  <%= @individual.lanuage_primary %>
</p>

<p>
  <strong>Language other:</strong>
  <%= @individual.language_other %>
</p>

<p>
  <strong>Springfield native:</strong>
  <%= @individual.springfield_native %>
</p>

<p>
  <strong>Springfield native neighborhood:</strong>
  <%= @individual.springfield_native_neighborhood %>
</p>

<p>
  <strong>Springfield non native population:</strong>
  <%= @individual.springfield_non_native_population %>
</p>

<p>
  <strong>Neighborhood resident length in months:</strong>
  <%= @individual.neighborhood_resident_length_in_months %>
</p>

<p>
  <strong>Springfield non native distance:</strong>
  <%= @individual.springfield_non_native_distance %>
</p>

<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
