<%= simple_form_for(@goal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label "Goal" %>
    <%= f.text_area(:goal, size: '50x10') %>
    <%= f.input :goal_start %>
    <%= f.input :goal_finish %>
    <%= f.input :completion_percentage %>
    <%= f.hidden_field :individual_id, :value => @individual.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
