<%= simple_form_for(@goal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :individual %>
    <%= f.label "Goal" %>
    <%= f.text_area(:goal, size: '50x10') %>
    <%= f.input :goal_start %>
    <%= f.input :goal_finish %>
    <%= f.input :completion_percentage %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
