<%= form_tag attendances_path do %>
  <% @attendances.each do |attendance| %>
    <%= fields_for "attendance[#{attendance}]", attendance do |a| %>

      <div class="field">
        
        <%= a.hidden_field :meeting_id %>
        <%= a.hidden_field :individual_id %>
        <h3><%= Individual.find(a.object.individual_id).to_label %>
        <%= a.check_box :present %></h3>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag "Save Attendance Sheet", :class => "btn action-button-reverse default-button" %>
  </div>
<% end %>