<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= @attendance.meeting.name %>
</p>

<p>
  <strong>Individual:</strong>
  <%= @attendance.individual.to_label %>
</p>

<p>
  <strong>Present:</strong>
  <%= @attendance.present %>
</p>


<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
