<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <script type="text/javascript">
      $(document).ready(function() {
        $("#members a.add_fields").
        data("association-insertion-method", 'append').
        data("association-insertion-traversal", 'closest').
        data("association-insertion-node", '#members');
});


    </script>
  </head>
  <body>
    <div>
    	<div class="header-blue">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                    <div class="navbar-header"><a class="navbar-brand navbar-link" href="/">The Northwest Project</a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <% if current_user.try(:admin?) %>
                        <ul class="nav navbar-nav">
                            <li class="dropdown collapsed"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="/individuals">Display<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a href="/organizations">Organizations</a></li>
                                    <li role="presentation"><a href="/cohorts">Cohorts </a></li>
                                    <li role="presentation"><a href="/individuals">Individuals </a></li>
                                    <li role="presentation"><a href="/meetings">Meetings </a></li>

                                </ul>
                            </li>
                        </ul>
                        <% end %>
                          <div class="col-sm-5 col-md-5 pull-left">

                            <%= form_tag(individuals_path, :method => "get", id: "search-form", class: "navbar-form ", target: "_self") do %>

                            <label class="control-label pull-left" for="search-field"><i class="glyphicon glyphicon-search"></i></label>
                              <%= text_field_tag :search, params[:search], placeholder: "Name to find", class: "form-control search-field", id: "search-field", name: "search" %>


                            <% end %>
                         </div>
                        <p class="navbar-text navbar-right">
                        	<% if user_signed_in? %>
                        	  <%= link_to edit_user_registration_path, class: "btn btn-default action-button" do %>
                                <span class="glyphicon glyphicon-user"></span> Edit Profile
                               <% end %>
          							<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-default action-button'  %>
        					<% else %>
        					    <%= link_to "Log In", new_user_session_path, :class => 'navbar-link login'  %>
          						<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-default action-button'  %>
        					<% end %>
                        	
                        </p>
                    </div>
                </div>
            </nav>
         <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <div class="well">
        <%= yield %>
      </div>

	    
      </div>
  </body>
</html>
